.navbar {
  z-index: 5;
  display: flex;
  width: 80%;
  height: 10vh;
  margin: auto;
  margin-top: 15px;
  justify-content: space-between;
}

#logo {
  width: 100%;
  height: 100%;
}

.displayLink {
  display: flex;
  width: 40%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 200;
  color: white;
  letter-spacing: 5px;
}

.links {
  color: white;
  position: relative;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  transition: 1s;

  &:hover {
    cursor: pointer;
    color: grey;
  }
}
