.custom_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;

  .page_tiltles {
    text-align: center;
    margin: 25px;
    color: white;
  }

  .create_container {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 70vh;
    background: rgb(60, 60, 60);
    background: linear-gradient(
      184deg,
      rgba(60, 60, 60, 1) 0%,
      rgba(57, 57, 57, 1) 100%
    );
    border-radius: 50px;

    .charac_container {
      position: relative;
      width: 600px;
      height: 550px;
      border-radius: 50px;
      background-color: #d9d9d9;
      margin: auto;

      #body {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 65%;
        transform: translate(-50%);
      }

      #head {
        position: absolute;
        width: 30%;
        top: 41%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
      }

      #hair {
        position: absolute;
        z-index: 2;
        width: 30%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #nose {
        position: absolute;
        width: 7%;
        z-index: 3;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #eyes {
        position: absolute;
        width: 13%;
        z-index: 2;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #month {
        position: absolute;
        width: 15%;
        top: 50%;
        left: 50%;
        z-index: 0;
        z-index: 3;
        transform: translate(-50%, -50%);
      }

      #beard {
        position: absolute;
        z-index: 2;
        width: 30%;
        max-height: 25%;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .custom_inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
      }

      .change_part_index {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px;
        gap: 25px;

        #up_arrow {
          width: 25px;
          top: 0%;
          left: 50%;
          transform: rotate(180deg);
        }

        #down_arrow {
          width: 25px;
          top: 0%;
          left: 50%;
          transform: rotate(360deg);
        }
      }

      .change_index {
        display: flex;
        gap: 25px;

        #right_arrow {
          width: 25px;
        }

        #left_arrow {
          width: 25px;
        }
      }

      .color_picker_container {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 180px;
        height: 150px;
        // background: rgb(255, 255, 255);
        // box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.1);
        margin-top: 25px;

        p {
          font-size: 1.5rem;
          color: white;
          // color: rgb(0, 0, 0);
        }
        #input_color {
          appearance: none;
          background: none;
          border: 0;
          padding: 0;
          height: 100%;
          width: 100%;
          cursor: pointer;
        }
        .colorpick-eyedropper-input-trigger {
          width: 0;
          height: 0;
        }
        #input_color::-moz-color-swatch {
          border: none;
          width: 0px;
          height: 0px;
        }
      }
    }
  }

  button {
    width: 250px;
    height: 70px;
    margin: 25px;
    background-image: linear-gradient(to bottom, #8459cb 0%, #712296 100%);
    border: none;
    border-radius: 25px;
    box-shadow: 8px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: 1s;

    &:hover {
      cursor: pointer;
      transform: scale(1.01);
    }

    p {
      font-size: 2rem;
      color: rgb(255, 255, 255);
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
}
